* {
  margin: 0px;
  padding: 0px;
  font-family: Raleway;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

#main {
  background-image: url(../img/david-marcu-78A265wPiO4-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#main #navBar {
  width: 100%;
}

#main #navBar .navbar-brand img {
  width: 200px;
}

#main #navBar .nav-item a {
  color: #ffffff;
  font-weight: 700;
}

#main #navBar .nav-item a:hover {
  color: #3a3f46;
}

#main #centerText h1 {
  font-size: 100px;
  font-weight: 800;
  letter-spacing: 5px;
}

#main #centerText hr.divider {
  height: 0.2rem;
  max-width: 150px;
  margin: 1.5rem auto;
  background-color: #f4623a;
  opacity: 1;
}

#main #centerText .btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

#main #centerText .btn-primary {
  color: #fff;
  background-color: #f4623a;
}

#main #centerText p {
  color: #fff;
}

#services {
  margin-top: 50px;
}

#services .features-icons-item {
  background-color: #ffe7df;
  border-radius: 2%;
}

#services .features-icons-item h3 {
  color: #0d1f3a;
}

#services .features-icons-item img {
  width: 100px;
}

#aboutUs {
  margin: 125px 0px;
}

#aboutUs h2 {
  text-align: center;
  margin: 0.5rem auto;
  font-size: 50px;
  font-weight: 400;
  color: #143059;
}

#aboutUs p.header {
  margin: 0px auto;
  text-align: center;
  color: #5a616b;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 70px;
}

#aboutUs h3 {
  color: #143059;
}

#aboutUs #aboutUsMain {
  margin-top: 50px;
}

#aboutUs #aboutUsMain .pictureAboutUs img {
  width: 100%;
}

#aboutUs #aboutUsMain .textAboutUs {
  padding: 5%;
}

#aboutUs #aboutUsMain .textAboutUs .btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

#aboutUs #aboutUsMain .textAboutUs .btn-primary {
  color: #fff;
  background-color: #f4623a;
}

/*AUTHOR PAGE*/
#authorPage {
  margin: 78px auto;
  padding: 50px;
  background-color: #ffe7df9e;
}

#authorPage #aboutMeImg {
  text-align: center;
}

#authorPage #aboutMeImg h3 {
  font-size: 35px;
  color: #0d1f3a;
}

#authorPage #aboutMeImg img {
  width: 300px;
  border-radius: 50%;
}

#authorPage .aboutMe {
  text-align: center;
}

#authorPage .aboutMe h2 {
  font-size: 100px;
  margin-right: 0px;
  color: #0d1f3a;
}

#authorPage .aboutMe h4 {
  color: #0d1f3a;
}

#authorPage .aboutMe #skills ul {
  padding-right: 0px;
}

#authorPage .aboutMe #skills ul li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

#authorPage .aboutMe #skills ul li img {
  width: 45px;
}

#authorPage .aboutMe #findMe ul li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

#destinationCaption {
  text-align: center;
}

#destinationCaption h2 {
  text-align: center;
  margin: 0.5rem auto;
  font-size: 50px;
  font-weight: 400;
  color: #143059;
}

#destinationCaption p {
  margin: 0px auto;
  text-align: center;
  color: #5a616b;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 70px;
}

#destinations {
  text-align: center;
  margin: 0px auto;
}

#destinations .button-value {
  border: 2px solid #6759ff00;
  padding: 1em 2.2em;
  border-radius: 3em;
  color: #f4623a;
  cursor: pointer;
}

#destinations .active {
  color: #0d1f3a;
}

#destinations #products {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-column-gap: 1.5em;
  padding: 2em 0;
}

#destinations .card {
  background-color: #ffffff;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  -webkit-box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
          box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}

#destinations .image-container {
  text-align: center;
}

#destinations img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 15em;
}

#destinations .container {
  padding-top: 1em;
  color: #110f29;
}

#destinations .container h5 {
  font-weight: 500;
}

#destinations .hide {
  display: none;
}

footer img {
  width: 150px;
}

#mainCover {
  background-image: url(../img/wil-stewart-pHANr-CpbYM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#mainCover #navBar {
  width: 100%;
}

#mainCover #navBar .navbar-brand img {
  width: 200px;
}

#mainCover #navBar .nav-item a {
  color: #ffffff;
  font-weight: 600;
}

#mainCover #navBar .nav-item a:hover {
  color: #3a3f46;
}

#mainCover #centerTextContact .hide {
  display: none;
}

#mainCover #centerTextContact h1 {
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 5px;
}

#mainCover #centerTextContact hr.divider {
  height: 0.2rem;
  max-width: 150px;
  margin: 1.5rem auto;
  background-color: #f4623a;
  opacity: 1;
}

#mainCover #centerTextContact .btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

#mainCover #centerTextContact .btn-primary {
  color: #fff;
  background-color: #f4623a;
}

#mainCover #centerTextContact p {
  color: #fff;
  font-size: 27px;
}

#mainCover #forma-prijava {
  background-color: #0d1f3a;
  padding: 2%;
  color: #fef8f6;
  border-radius: 25px;
  width: 60%;
  margin: 40px auto;
}

.hide {
  display: none;
}

@media screen and (max-width: 992px) {
  #navBar .nav-item a {
    text-align: center;
  }
}

@media screen and (max-width: 720px) {
  .social-icons img {
    width: 25px;
  }
  #destinations img {
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    height: 10em;
  }
  #destinations .card {
    max-width: 10em;
    margin-top: 1em;
  }
  #destinations #products {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}

@media screen and (max-width: 512px) {
  #main #centerText h1 {
    font-size: 60px;
  }
  #mainCover #centerTextContact p {
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  #main #centerText h1 {
    font-size: 50px;
  }
}
/*# sourceMappingURL=style.css.map */